.events-image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
  }
.events-image-container>img{
      width: 100%;
      height: 100%;
  }
  
  /* mobile screens */
  @media  (max-width: 640px){
    
    .events-image-container{
      width: 95%;
      height: 20rem;
    }
    
  }