.horizon-women-container {
    height: 680px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.horizon-women-container canvas{
    height: 760px !important;
    top: unset !important;
    opacity: 0.5;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}
.h-women-image-container{
    width: 35rem;
    height: 35rem;
    overflow: hidden;
  }
.h-women-image-container>img{
    width: 100%;
    height: 100%;
  }
  @media  (max-width: 640px){
    .h-women-image-container{
      width: 25rem;
      height: 25rem;
    }
  } 
